* {box-sizing: border-box;}
body {
    padding-top: 56px;
    
    background: linear-gradient(141deg, #0062cc 0%, #1fc8db 51%, #2cb5e8 75%);  /* content background gradient */
  }
  
  /* navbar */
  .logo{
    font-size:  1.9rem;
    font-family:'Helvetica Neue', sans-serif 'Arial Narrow Bold', sans-serif;
    color: lightsalmon;
  }
  .logo-2{
    font-size:  3rem;
    font-family:'Helvetica Neue', sans-serif 'Arial Narrow Bold', sans-serif;
    color: lightsalmon;
  }
  
  #lang{
    padding: 0px;
    font-weight: 500;
    color: #000000;
    margin-top: 5px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    top:10%;
  right: 200px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
  
  /* styles to the form container */
  .form-container {
    max-width: 400px;
    height: 40%;
    padding: 10px;
    background-color: white;
  }
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
    /* social login */
    .fb {
      background-color: #3B5998!important;
      color: white;
    }
    
    .twitter {
      background-color: #55ACEE !important;
      color: white;
    }
    
    .google {
      background-color: #dd4b39 !important;
      color: white;
    }
  /*submit/login button */
  .form-container .btn {
    background-color: #0062cc;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* close button */
  .cancel {
    background-color: grey;
    padding: 4px;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  /* two equal columns that floats */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
      
    /*  dob input */
    input[type=date]{
      margin-left: 20px;
    }
  /* GRUOP BUTTON */
  .btn-group button {
    background-color: #ffffff;
    border: 1px solid blue;
    color: blue; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    outline: none;
  }
  .btn-group button:first-child{
    margin-left: 80px;
  }
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:first-child) {
    border-left: none; /* Prevent double borders */
  }
  button:checked {
    background-color: blue;
    color: white;
  }
  /* on hover */
  .vfr, .btn-group button:hover {
    background-color: blue;
    color: white;
  }
  
  @media (max-width: 800px) {
    .btn-group{
      display: block;
    }
    }
  
  
  